# Lab 1 - API de Acesso a Dados

# Tarefa 1

Das fontes de dados disponíveis, tente encontrar fontes com formatos diferentes e importá-las via Python. Busque pelo menos dois formatos.

In [1]:
import pandas as pd
import io
import requests

In [2]:
# download da fonte opendatasus
url = 'https://opendatasus.saude.gov.br/pt_BR/dataset/a2cfca72-d8e8-4878-b7f5-d97535a991d5/resource/77d8d14a-cf8c-4209-bed3-3b63ed63fd4f/download/arquivo_geral.csv'

df = pd.read_csv(url, sep=';')
df

,regiao,estado,data,casosNovos,casosAcumulados,obitosNovos,obitosAcumulados
0,Norte,RO,2020-01-30,0,0,0,0
1,Norte,RO,2020-01-31,0,0,0,0
2,Norte,RO,2020-02-01,0,0,0,0
3,Norte,RO,2020-02-02,0,0,0,0
4,Norte,RO,2020-02-03,0,0,0,0
...,...,...,...,...,...,...,...
2344,Centro-Oeste,DF,2020-04-21,9,881,0,24
2345,Centro-Oeste,DF,2020-04-22,65,946,1,25
2346,Centro-Oeste,DF,2020-04-23,17,963,0,25
2347,Centro-Oeste,DF,2020-04-24,26,989,1,26
2348,Centro-Oeste,DF,2020-04-25,24,1013,0,26

In [3]:
# download do github
url = 'https://raw.githubusercontent.com/nytimes/covid-19-data/master/us-states.csv'
df = pd.read_csv(url)
df

             date          state  fips   cases  deaths
0      2020-01-21     Washington    53       1       0
1      2020-01-22     Washington    53       1       0
2      2020-01-23     Washington    53       1       0
3      2020-01-24       Illinois    17       1       0
4      2020-01-24     Washington    53       1       0
...           ...            ...   ...     ...     ...
29544  2021-08-21       Virginia    51  734079   11647
29545  2021-08-21     Washington    53  530203    6401
29546  2021-08-21  West Virginia    54  177533    3008
29547  2021-08-21      Wisconsin    55  714792    8368
29548  2021-08-21        Wyoming    56   70671     809

[29549 rows x 5 columns]

# Tarefa 2

## Engenharia reversa

Monte um diagramas que representem modelos dos dados que você terá acesso e como pretende associá-los. Coloque abaixo uma imagem do diagrama.

Relação entre casos e mortes por covid com média(https://github.com/nytimes/covid-19-data/blob/master/us-counties.csv) de consumo de alcool por pessoa em cada país(https://apps.who.int/gho/data/node.gisah-archive.A1030?lang=en&showonly=GISAH)

![diagrama](../image/images.png)